<template>
    <div>
        <div id="upper">
            <sl-vue-tree id="dirlist"
                @select="pickDir"
                v-model="dirData">

                <template slot="title" slot-scope="{ node }">
                  <span class="item-icon">
                    <i class="oi oi-folder" v-if="!node.isLeaf"></i>
                    <i class="oi oi-file" v-if="node.isLeaf"></i>
                  </span>&nbsp;{{ node.title }}
                </template>

            </sl-vue-tree>

            <div id="filelist" @click="pickFile">
                <VueFileAgent
                   :multiple="true"
                   :deletable="false"
                    theme="default"
                   :helpText="free"
                   v-model="filesData">

                  <template v-slot:file-preview="{ fileData, index }">
                    <VueFilePreview
                      :fileData="fileData" :index="index" :deletable="fileData.isDeletable"
                      :data-path="fileData.name()"
                      :editable="fileData.editable === true"
                      ondragstart="event.dataTransfer.setData('text/plain', this.dataset.path)"
                      draggable="true" :key="fileData.id" 
                      class="file-preview-wrapper grid-box-item grid-block"></VueFilePreview>
                  </template>


                </VueFileAgent>
            </div>
        </div>
        <codemirror id="editor"  :options="cmOptions" v-model="code"></codemirror>
    </div>
</template>

<script lang="python">

class Component:
    def __init__(self):
        self.filesData = []
        self.dirData = []
        self.free = '0'
        self.path = '/'
        self.code = "TEST"
        self.cmOptions = {
            'theme': 'dracula',
            'lineNumbers': True,
            'styleActiveLine': True
        }
    async def MOUNTED(self):
        self.update()

    async def update(self):
        self.dirData = await wuy.listDir()
        self.free = window.getSizeFormatted(self.dirData[0]['free'])
        self.filesData = await wuy.listFiles(self.path)

    async def pickDir(self, node):
        self.path = node[0]['data']['path']
        self.filesData = await wuy.listFiles(self.path)

    def getIndex(self, element):
        if element:
            if element.attributes.index != undefined:
                return element.attributes.index.value
            else:
                return(self.getIndex(element.parentElement))

    def dragStart(self, ev):
        console.log(ev)

    async def pickFile(self, ev):
        item = self.filesData[self.getIndex(ev.target)]
        if item:
            print (item.name())

</script>

<style scoped>
  :scope {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
</style> 

<style lang="less">
@import "./node_modules/codemirror/lib/codemirror.css";
@import "./node_modules/codemirror/theme/dracula.css";
@import "./node_modules/vue-file-agent/dist/vue-file-agent.css";
@import "./node_modules/sl-vue-tree/dist/sl-vue-tree-dark.css";

#upper {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    font-family: Sans;
    user-select: none;
}
#editor { 
  flex: 1 1 auto;
  background-color: #282a36;
}
#dirlist {
    flex: 0 1 auto;
    border-radius: 0px;
    border: none;
    font-size: small;
}
#filelist {
    flex: 1 1 auto;
    background-color: rgb(9, 22, 29);
}
.grid-block {
    min-width: 128px !important;
    width: 128px !important;
}
.file-preview:hover {
    filter: brightness(150%);
}
.vue-file-agent {
    border-style: none !important;
    text-align: left !important;
}
.sl-vue-tree-toggle {
    display: none;
}
.sl-vue-tree-title {
    white-space: nowrap;
}
.CodeMirror {
    height: 100%;
}
</style>
